  <h1> Example of Form </h1>
<div class="container" col-6>
<form action="answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
</div>
<br>
<%= @answer %>
<br>
